/* sw = simple-widgets */

.sw-dlb_buttonSt {
    width: 50;
    margin: 0.25em 0.75em;   /* top/bot 0.25  left/right 0.75 */
    justify-content: center;
    background-color: var(--sw-theme_buttonColor);
    color: var(--sw-theme_buttonTextColor);
    border: var(--sw-theme_buttonBorder);
    border-radius: var(--sw-theme_buttonRadius);
}

.sw-dlb_topSt { 
    display: flex;
    flex-direction: row;
}

.sw-dlb_colSt { 
    width: min-content;
    align-self: center;
}

.sw-dlb_listSt { 
    min-width: 8em;
}

.sw-dlb_rightClass {
    font-size: 16;
    font-weight: bold;
    margin-bottom: 5px;
}

.sw-dlb_leftClass {
    font-size: 16;
    font-weight: bold;
    margin-bottom: 5px;
}

.sw-dlb_titleClass {
    font-size: 24;
    font-weight: bold;
}

.sw-dlb_overallStyle {
    margin-left: auto;
    margin-right: auto;
}

.sw-dlb_display {
   display: block;
}
