.sw-header_main_fixed {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: white;
    z-index: 80;
}

.sw-header_main_float {
    width: 100%;
    background-color: white;
    z-index: 80;
}

.sw-header_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sw-header_div * {
    margin-block-start: 0;
    margin-block-end: 0;
}

.sw-header_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sw-header_logo {
    /* height: 4.5em; */
    height: inherit;
    width: 15%;
    justify-content: center;
}

.sw-header_title {
    /* color: #1888ff;   */
    /* font-weight: bold;  */
    /* font-size: 30pt;    */

    display: contents;
    justify-content: center;
    /* 100 = viewport width, as 1vw = 1/100th of that
       So if the container is 50% of viewport (as here)
       then factor that into how you want it to size.
       Let's say you like 5vw if it were the whole width,
       then for this container, size it at 2.5vw (5 * .5 [i.e. 50%])
    */
    font-size: 3.4vw;
}

.sw-header_link {
    text-align: right;
    font-weight: bold;
    text-decoration: none;

    padding: 8px;

    /* font-size: x-large; */
    font-size: 2vw;

    --header_link_color: #1888ff;         /* rgb(24, 136, 255) */

    color: var(--header_link_color);
}

.sw-header_link:hover {
    color: white;

    background-color: var(--header_link_color);

    border-radius: 0.25em;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.sw-header_msg {
    /* font-size: x-large; */

    display: flex;
    justify-content: center;
    width: 7%;
    /* 100 = viewport width, as 1vw = 1/100th of that
       So if the container is 50% of viewport (as here)
       then factor that into how you want it to size.
       Let's say you like 5vw if it were the whole width,
       then for this container, size it at 2.5vw (5 * .5 [i.e. 50%])
    */
    font-size: 1.3vw;
}

.sw-header_database {
   /* font-size: medium; */
    font-size: 1.3vw;
}
