/* sw = simple-widgets */

.sw-infile_fileStyle {
    display: none;
}

.sw-infile_buttonStyle {
    margin: var(--sw-theme_buttonMargin);
    border-radius: var(--sw-theme_buttonRadius);
    color: var(--sw-theme_buttonTextColor);
    font: var(--sw-theme_buttonFont);
    font-weight: var(--sw-theme_buttonFontWeight);
    font-size: var(--sw-theme_buttonFontSize);
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}


.sw-infile_textStyle {
    width: 75%;
}

.sw-infile_marginStyle {
    margin-right: 10px;
}


