:root {
    --sw-outline-indentation_amount: 1em;
    --sw-outline-item_width: 12.5em;
    --sw-outline-normal_indent: 1em;
    --sw-outline-margin_right: 1em;
    --sw-outline-font_size: large;
    --sw-outline-reg_color: blue;
    --sw-outline-reg_back_color: white;
    --sw-outline-hover_color: white;
    --sw-outline-hover_back_color: gray;
    --sw-outline-font_family: Tahoma;
    --sw-outline-overall_width: 100%;
}

.sw-outline-item {
    width: var(--sw-outline-item_width);
    color: var(--sw-outline-reg_color);
    background-color: var(--sw-outline-reg_back_color);
    font-size: var(--sw-outline-font_size);
    font-family: var(--sw_outline-font_family);
}

.sw-outline-button {
    border: none;
    width: var(--sw-outline-item_width);
    color: var(--sw-outline-reg_color);
    background-color: var(--sw_outline-reg_back_color);
    font-size: var(--sw-outline-font_size);
    text-align: left;
    padding-left: 0px;
    font-family: var(--sw-outline-font_family);
}

.sw-outline-button:hover {
    color: var(--sw-outline-hover_color);
    background-color: var(--sw-outline-hover_back_color);
}


.sw-outline-button_disable {
    background-color: gray;
    border: none;
    width: var(--sw-outline-item_width);
    color: var(--sw-outline-reg_color);
    font-size: var(--sw-outline-font_size);
    text-align: left;
    padding-left: 0px;
    font-family: var(--sw-outline-font_family);
}

.sw-outline-font_plain {
    font-style: normal;
}

.sw-outline-font_bold {
    font-weight: bold;
}

.sw-outline-font_italic {
    font-style: italic;
}

.sw-outline-indent_normal {
    margin-left: var(--sw-outline-normal_indent)
}

.sw-outline-indent_spacing {
    margin-left: var(--sw-outline-indentation_amount);
}

.sw-outline-list {
    list-style: none;
}

.sw-outline-flex {
    display: flex;
}

.sw-outline-margin {
    margin-right: var(--sw-outline-margin_right);
    border-right: 1px black solid;
}

.sw-outline-selected_item {
    width: var(--sw-outline-overall_width);
}