:root {
    --sw-pt_bannerBackground: rgb(0, 124, 186);
    --sw-pt_bannerTextColor: rgb(255, 255, 255);
    --sw-pt_bannerBorderRadius: 8px;
    --sw-pt_bannerFontSize: 24pt;
    --sw-pt_bannerFontWeight: normal;
    --sw-pt_bannerTextAlign: left;
    --sw-pt_bannerMarginLeft: 20px;
    --sw-pt_bannerMarginBottom: 10px;
    --sw-pt_bannerOverFlowY: hidden;
 }

 .sw-pt_banner {
     display: flex;
     align-items: center;
     background-color: var(--sw-pt_bannerBackground); 
     border-radius: var(--sw-pt_bannerBorderRadius);
 }
 
 .sw-pt_bannerFont {
     font-family: var(--sw-pt_font);
     font-size: var(--sw-pt_bannerFontSize);
     color: var(--sw-pt_bannerTextColor);
     text-align: var(--sw-pt_bannerTextAlign);
     margin-left: var(--sw-pt_bannerMarginLeft);
     overflow-y: var(--sw-pt_bannerOverFlowY);
 }
  
 .sw-pt_bannerSmallFont {
     font-family: var(--sw-pt_font);
     color: var(--sw-pt_bannerTextColor);
     text-align: var(--sw-pt_bannerTextAlign);
     margin-left: var(--sw-pt_bannerMarginLeft);
     margin-bottom: var(--sw-pt_bannerMarginBottom);
     overflow-y: var(--sw-pt_bannerOverFlowY);
 }

 