/* sw = simple-widgets */

.sw-slider5_rangeValue {
    text-align: center;
    font-size: 2em;
    color: #999;
    font-weight: 400;
    margin-left: 20px;
}

.sw-slider5_range {
    width: 400px;
}

