/* sw = simple-widgets */

.sw-slider_rangeValue {
    text-align: center;
    font-size: 2em;
    color: #999;
    font-weight: 400;
    margin-left: 20px;
}

.sw-slider_range {
    width: 400px;
    margin: 13.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

.sw-slider_range:focus {
    outline: none;
}

.sw-slider_range::-webkit-slider-runnable-track {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

.sw-slider_range::-webkit-slider-thumb {
    margin-top: -14px;
    width: 16px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

.sw-slider_range:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

.sw-slider_range::-moz-range-track {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
  
.sw-slider_range::-moz-range-thumb {
    width: 16px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

.sw-slider_range::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

.sw-slider_range::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

.sw-slider_range::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

.sw-slider_range::-ms-thumb {
    width: 16px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

.sw-slider_range:focus::-ms-fill-lower {
    background: #3071a9;
}

.sw-slider_range:focus::-ms-fill-upper {
    background: #367ebd;
}
  